---
import BasePage from "../../layouts/BasePage.astro";
---

<BasePage title="Tetris">
  <audio id="gameSong" src="/audio/Tetris.ogg"></audio>
    <div class="container">
        <canvas id="board" class="board" width="300" height="600"></canvas>
        <div class="information">
            <h1>Tetris</h1>
            <p>Score: <span id="score">0</span></p>
            <p>Lines: <span id="lines">0</span></p>
            <p>Level: <span id="level">0</span></p>
            <canvas id="next" class="next"></canvas>
            <button id="play" class="play-button">Play</button>
        </div>
    </div>
</BasePage>
<style>
.container {
  display: grid;
  grid-template-columns: 320px 200px;
  font-family: 'Press Start 2P', cursive;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board {
  border: solid 2px;
}

.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}
</style>
<script >
    import {setup} from "../../lib/tetris/tetris.ts"
    const playButton = document.getElementById("play")
    const stop = setup("board")
    playButton?.addEventListener('click', () => {
      const audio = document.getElementById('gameSong') as HTMLAudioElement
      audio.play()
    })
</script>