---
import { getEntryBySlug } from "astro:content"
import BasePage from "../../layouts/BasePage.astro"

const entry = await getEntryBySlug("blog", "hello-world")

const { Content } = await entry.render();
---
<BasePage title="blog posts">
	<h1>This is Hello World!</h1>
	<Content />
</BasePage>