---

import BasePage from "../../layouts/BasePage.astro"
import Content from "../../layouts/Content.astro"
import { getPosts } from "../../lib/blogPosts";


const posts = await getPosts()
---
<BasePage title="blog posts">
	<Content header="Recent Posts">
		<div class="grid justify-center">
			{posts.map((post) => <div><a href=`/blog/${post.data.slug}`>{post.data.title}</a></div>)}
		</div>
	</Content>
</BasePage>
