---
import { getContentfulPosts } from "../../lib/contentful"

const entries = await getContentfulPosts("blogPost")
entries.map(console.log)
---
<body>
	{entries.map((item) => (
		<di>
			<h2>{item.data.published} - {item.data.title}</h2>
			<article set:html={item.content}></article>
		</di>
	))}
</body>