---
import BasePage from "../../layouts/BasePage.astro"
import Content from "../../layouts/Content.astro"
---
<BasePage title="Demos">
	<Content header="Demos for Javascript and Astro" >
		<ul>
			<li><a href="/tetris">Tetris</li>
		</ul>
	</Content>

</BasePage>
