---
import BasePage from "../../layouts/BasePage.astro"
import Content from "../../layouts/Content.astro"
---
<BasePage title="Demos">
	<Content header="Demos for Javascript and Astro" >
		<ul>
			<li><a href="/tetris">Tetris</a></li>
			<li><a href="/demos/numberofpaths">Number of Paths</a></li>
			<li><a href="/demos/trie">Trie</a></li>
			<li><a href="/demos/sortablelists">SortableList</a></li>
		</ul>
	</Content>

</BasePage>
