---
import BasePage from "../../layouts/BasePage.astro"
import Content from "../../layouts/Content.astro";
---
<BasePage title="SortableList">
	<Content header="Ranking List">
		<form id="addForm" >
			<label for="entry">Add an item:</label>
			<input type="text" class="text-slate-600 rounded-md text-sm shadow-sm px-3 py-1.5" placeholder="new entry" id="newItem">
			<button id="addButton" class="rounded-md px-3 py-1.5 text-sm shadow-sm">add</button>
		</form>
		<ol id="sortList" class="moveable"></ol>
		<div>
			<button id="downloadButton" class="lex mb-2 w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm" >Download List</button>
			<button id="clearButton" class="lex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm ">Clear</button>
		</div>
	</Content>
</BasePage>
<style>
[draggable="true"] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
ol.moveable {
  margin: 0px;
  margin-bottom: 5px;
  padding-left: 20px;
  list-style-type: decimal;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}
li {
    margin: 10px;
    padding: 4px;
    border-radius: 4px;
    color: #666;
    cursor: move;
    cursor: grab;
    border: 1px solid grey;
}
li:active: {
    cursor: grabbing;
}
li:hover {
    background-color: #eee;
}
button {
    border: 1px solid white;
}
</style>
<script>
const button = document.getElementById("addButton") as HTMLButtonElement
const input =  document.getElementById("newItem") as HTMLInputElement
const form = document.getElementById("addForm") as HTMLFormElement
const list = document.getElementById("sortList") as HTMLOListElement
const downloadButton = document.getElementById("downloadButton") as HTMLButtonElement
const clearButton = document.getElementById("clearButton") as HTMLButtonElement

const saveToStorage  = () => {
	const items = Array.from(list.children).map(ele => ele.textContent)
	localStorage.setItem("rankingList", JSON.stringify(items))
}
const loadFromStorage = () => {
	const list = JSON.parse(localStorage.getItem("rankingList"))
	if (list) {
		list.forEach((element: string) => {
			addListItem(element)
		})
	}
}
const downloadList = (e) => {
	const content = Array.from(list.children).map((ele, idx) => `${idx+1}. ${ele.textContent}`).join("\n")
	const element = document.createElement("a")
	element.setAttribute("href", "data:text/plain;charset=utf-8,"+encodeURIComponent(content))
	element.setAttribute("download", "ranking.txt")
	element.style.display = "none"
	
	document.body.append(element)
	element.click()
	document.body.removeChild(element)

}
downloadButton.addEventListener("click", downloadList)

form?.addEventListener("submit", e => {
   	e.preventDefault()
})
const getIndex = e => {
	const element = e.target.closest("li")
	return Array.from(list.children).indexOf(element)
}
const dragStart = (e) => {
	e.dataTransfer.setData("text/plain", getIndex(e))
}
const drop = (e) => {
	cancelDefault(e)
	const oldIndex = e.dataTransfer.getData("text/plain")
	const newIndex = Array.from(list.children).indexOf(e.target)
	const node = list.children[oldIndex]
	list.removeChild(list.children[oldIndex])
	list.insertBefore(node, list.children[newIndex])
	saveToStorage()
}
const cancelDefault = (e) => {
	e.preventDefault()
	e.stopPropagation()
	return false
}
const touchStart = (element) => (e) => {
}

const touchEnd = (element) => (e) => {
	const index = Array.from(list.children).indexOf(element)
	const targetCoords = e.changedTouches
	if (targetCoords) {
		const ele = document.elementFromPoint(
			targetCoords[0].clientX,
			targetCoords[0].clientY
		)
		drop({
			target: ele,
			dataTransfer: {
				getData: () => index
			},
			preventDefault: () => {},
			stopPropagation: () => {}
		})
	}
}
const addListItem = (text: string) => {
	const li = document.createElement("li")
	li.classList.add("cursor-grab")
	li.classList.add("active:cursor-grabbing")
	li.classList.add("active:bg-gray-500")
	li.appendChild(document.createTextNode(text))
	li.setAttribute("draggable", "true")
	li.addEventListener("dragstart", dragStart)
	li.addEventListener("touchstart", touchStart(li))
	li.addEventListener("touchend", touchEnd(li))
	li.addEventListener("drop", drop)
	li.addEventListener("dragenter", cancelDefault)
	li.addEventListener("dragover", cancelDefault)
	list.appendChild(li)
	saveToStorage()
}
button?.addEventListener("click", () => {
	if (input.value.length === 0 ) return
	addListItem(input.value)
	input.value = ""
})
clearButton.addEventListener("click", () => {
	list.innerHTML = ""
	saveToStorage()
})
loadFromStorage()
</script>
