---
import BasePage from "../layouts/BasePage.astro";
---

<BasePage title="about">
	<h1>About Me</h1>
	<p>
        I'm a full stack engineer, primarily focusing on the front-end. I've spent the last 8 years mostly working in React, but also using Hyperapp, Vuejs, Python, Kotlin.
	</p>
</BasePage>
