---
import BasePage from "../layouts/BasePage.astro"
import Content from "../layouts/Content.astro"
---

<BasePage title="Koire's home">
	<Content header=" Welcome to Paikawa">
		<p>This is a little site to just try out astro and maybe write a blog</p>
	</Content>
</BasePage>
