---
import Layout from "../layouts/Layout.astro"
import { Image } from "@astrojs/image/components"
import deathsShadows from "../images/deathsShadows-glow.png"

---

<Layout title="Koire's home">
	<style lang="less">
		.main-content {
			display: grid;
			justify-items: center;
			grid-template-rows: 10% auto;
			height: 100vh;
			width: 80%;
		}
	</style>
	<main class="main-content">
		<h1> Welcome to Paikawa</h1>
		<div>
			This is a little site to just try out astro and maybe write a blog
			<br />
			<Image src={deathsShadows} height={150}/>
		</div>
	</main>
</Layout>
