---

---
<header class="site-header h-min max-h-min">
	<div class="">
		<nav class="flex space-x-3">
			<a class="flex-grow" href="/">Home</a>
			
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
			<a href="/demos">Demos</a>
			<a href="/recipes">Recipes</a>
		</nav>
	</div>
</header>
